<p>
  <a href="http://soundpile.io">SoundPile</a> — SoundCloud Clone
  (<a href="https://github.com/peterjeliot/soundpile">Github</a>)
</p>

<p>
  <a href="<%= tetris_url %>">Tetris</a> — written in LiveScript
  (<a href="https://github.com/peterjeliot/Tetris.ls">Github</a>)
</p>
