<main class="tetris">
  <canvas width="200" height="360"></canvas>

  <div class="info-panel">
    <h1>Tetris!</h1>
    <br>
    <p>Controls:</p>
    <p>Up: Rotate piece</p>
    <p>Down/Left/Right: Move piece</p>
    <p>Space: Drop piece</p>
  </div>
</main>
