<p class="contact-info">
  <p>
    email: <a href="mailto:phoenixjeliot+jobs@gmail.com">phoenixjeliot+jobs@gmail.com</a>
  </p>
  <p>
    phone: <a href="tel:3039003063" >(303) 900-3063</a>
  </p>
</p>
